<div class="searchpage-container">
  <div class="cards-product">
    <% @swimming_pools.each do |swimming_pool| %>
      <%= link_to swimming_pool_path(swimming_pool), :action => 'go' do %>
        <div class="card-product">
          <%= image_tag swimming_pool.picture %>
          <div class="card-product-infos">
            <div class="card-product-pricing">
              <h2 class="card-product-price"><%= swimming_pool.price %>€</h2>
              <span>par personne</span>
              <span>(la journée)</span>
            </div>
            <div class="card-product-title">
              <h2><%= swimming_pool.name %></h2>
              <span>proposé par Bernard de Lavillardière</span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



